<app-header></app-header>
  <div class="container bg-light text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <img src="/assets/logo.png" width="150px" height="150px">
      <h1 class="display-5 fw-bold text-dark">About Digital Books</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          DigitalBooks is a platform for Authors and Readers to connect, 
          Author can create there Books on our platform and are accessible by readers,
          readers can search  read the books after making a Successfull purchase.feel free to contact us in case of any issue in purchase or adding books.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Contact Us</button>
          <button type="button" class="btn btn-outline-success btn-lg px-4">Meet Our Team</button>
        </div>
      </div>
    </div>
  </div>
  <hr class=" container my-4">
  <app-footer></app-footer>