 

<div class="container bg-light ">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 align-items-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="/assets/logo.png" width="80px" height="80px">
      
      <span class="fs-4 me-5">Digital Books</span>      
      <span class="fs-4 title">Find Good Books Here....</span>      

    </a>
    

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Signup</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>

