<app-readheader></app-readheader>

<div class="text-end text-primary searchmargin"> <button class="btn btn-info ">Welcome {{readerName}}</button></div>

<br>



<div class="container">
 
  <div class="row ">
    <div class="col-md-4">
      <select name="signupas" [(ngModel)]="searchdropdownvalue"  class="btn btn-outline-primary p-3 form-control">
        <option value="0" >Search By</option>
        <option value="1">Category</option>
        <option value="2">Author Name</option>
        <option value="3">Price</option>
    </select>
    
    </div>
      
    
    <div class="col-md-8">
   
      <div class="search">
        <input type="text" class="form-control" [(ngModel)]="searchtext" placeholder="Search Book ">
        <button class="btn btn-primary" (click)="searchBook(searchtext)" >Search <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
      </div>
    </div>
    
  </div>
</div>

<br>


<!-- trendingbooks -->
<div class="container-fluid bg-light topmarginmain">
  <h3 class="text-primary">{{searchTitle}}</h3>
  <div class="row row-cols-1 row-cols-lg-5 g-4 mb-5">
    <div class="col" *ngFor="let book of books">
      <div class="card">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad fw-bold">
          <h5 class="card-title text-primary text-center mt-0">
            {{ book.title | uppercase }}
          </h5>
          <div>Category {{ book.category | uppercase }}</div>
          <div>Publisher {{ book.publisher | uppercase }}</div>
          <div class="fw-bold">Price {{ book.price | currency: "INR":"symbol":"1.0-0" }}</div>
          <div> Author {{ book.author | uppercase }}</div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success" (click)="addtoCart(book)">
            Add to
            <i class="bi bi-bag-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>



  <h3 class="text-primary">Trending Authors</h3>
  <div class="row row-cols-1 row-cols-md-5 g-4 mb-5">
    <div class="col" *ngFor="let book of trendingauthors">
      <div class="card">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad fw-bold">
          <h5 class="card-title text-primary text-center mt-0">
            {{ book.title | uppercase }}
          </h5>
          <div>Category {{ book.category | uppercase }}</div>
          <div>Publisher {{ book.publisher | uppercase }}</div>
          <div class="fw-bold">Price {{ book.price | currency: "INR":"symbol":"1.0-0" }}</div>
          <div> Author {{ book.author | uppercase }}</div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success" (click)="addtoCart(book)">
            Add to
            <i class="bi bi-bag-check"></i>
          </button>
        </div>
      </div>
             
    </div>
  </div>



  <h3 class="text-primary">Newly Added Books</h3>
  <div class="row row-cols-1 row-cols-md-5 g-4 mb-5">
    <div class="col" *ngFor="let book of bestsellers">
      <div class="card">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad fw-bold">
          <h5 class="card-title text-primary text-center mt-0">
            {{ book.title | uppercase }}
          </h5>
          <div>Category {{ book.category | uppercase }}</div>
          <div>Publisher {{ book.publisher | uppercase }}</div>
          <div class="fw-bold">Price {{ book.price | currency: "INR":"symbol":"1.0-0" }}</div>
          <div> Author {{ book.author | uppercase }}</div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success" (click)="addtoCart(book)">
            Add to
            <i class="bi bi-bag-check"></i>
          </button>
        </div>
      </div>
        
    </div>
   </div>
  </div>
 
  
<app-footer></app-footer>