<br /><br />
<!-- trendingbooks -->
<div class="container-fluid bg-light">
  <h3>Trending Books</h3>
  <div class="row row-cols-1 row-cols-md-4 container-fluid g-4">
    <div class="col" *ngFor="let book of books">
      <div class="card text-center">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad">
          <h5 class="card-title text-primary">{{ book.title | uppercase }}</h5>

          <div class="row text-primary">
            <div class="col text-start fw-bold">
              {{ book.category | uppercase }}
            </div>
            <div class="col text-end fw-bold">
              {{ book.publisher | uppercase }}
            </div>
          </div>
          <div class="row text-primary">
            <div class="col text-start fw-bold">
              Price:{{ book.price | currency: "INR":"symbol":"1.0-0" }}
            </div>
            <div class="col text-end fw-bold">
              {{ book.author | uppercase }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">
            Signup to Buy
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart-check-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

<h3>Trending Authors</h3>
  <div class="row row-cols-1 row-cols-md-4 container-fluid g-4 mt-4">
    <div class="col" *ngFor="let book of trendingauthors">
      <div class="card text-center">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad">
          <h5 class="card-title text-primary">{{ book.title | uppercase }}</h5>

          <div class="row text-primary">
            <div class="col text-start fw-bold">
              {{ book.category | uppercase }}
            </div>
            <div class="col text-end fw-bold">
              {{ book.publisher | uppercase }}
            </div>
          </div>
          <div class="row text-primary">
            <div class="col text-start fw-bold">
              Price:{{ book.price | currency: "INR":"symbol":"1.0-0" }}
            </div>
            <div class="col text-end fw-bold">
              {{ book.author | uppercase }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">
            Signup to Buy
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart-check-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <h3>BestSellers</h3>
  <div class="row row-cols-1 row-cols-md-4 container-fluid g-4 mt-4">
    <div class="col" *ngFor="let book of bestsellers">
      <div class="card text-center">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad">
          <h5 class="card-title text-primary">{{ book.title | uppercase }}</h5>

          <div class="row text-primary">
            <div class="col text-start fw-bold">
              {{ book.category | uppercase }}
            </div>
            <div class="col text-end fw-bold">
              {{ book.publisher | uppercase }}
            </div>
          </div>
          <div class="row text-primary">
            <div class="col text-start fw-bold">
              Price:{{ book.price | currency: "INR":"symbol":"1.0-0" }}
            </div>
            <div class="col text-end fw-bold">
              {{ book.author | uppercase }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">
            Signup to Buy
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart-check-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
