<div class="container-fluid bg-light topmarginmain">
  <h3 class="text-primary">Trending Books</h3>

  <div class="row row-cols-1 row-cols-lg-5 g-4 mb-5">
    <div class="col" *ngFor="let book of books">
      <div class="card">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad fw-bold">
          <h5 class="card-title text-primary text-center mt-0">
            {{ book.title | uppercase }}
          </h5>
          <div>Category {{ book.category | uppercase }}</div>
          <div>Publisher {{ book.publisher | uppercase }}</div>
          <div class="fw-bold">Price {{ book.price | currency: "INR":"symbol":"1.0-0" }}</div>
          <div> Author {{ book.author | uppercase }}</div>
        </div>

        <div class="card-footer text-center">
          <button class="btn btn-primary" routerLink="/signup">
            Signup to Buy
            <i class="bi bi-bag-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Trending authors -->
  <h3 class="text-primary">Trending Authors</h3>
  <div class="row row-cols-1 row-cols-md-5 g-4 mb-5">
    <div class="col" *ngFor="let book of trendingauthors">
      <div class="card text-start">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad fw-bold">
          <h5 class="card-title text-primary text-center mt-0">
            {{ book.title | uppercase }}
          </h5>
          <div>Category {{ book.category | uppercase }}</div>
          <div>Publisher {{ book.publisher | uppercase }}</div>
          <div class="fw-bold">Price {{ book.price | currency: "INR":"symbol":"1.0-0" }}</div>
          <div> Author {{ book.author | uppercase }}</div>
        </div>
        
        <div class="card-footer text-center">
          <button class="btn btn-primary" routerLink="/signup">
            Signup to Buy
            <i class="bi bi-bag-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- newly added  -->
  <h3 class="text-primary">Newly Added Books</h3>

  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col" *ngFor="let book of bestsellers">
      <div class="card text-start">
        <img
          src="http://localhost:9001/download/?image={{ book.logo }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body grad fw-bold">
          <h5 class="card-title text-primary text-center mt-0">
            {{ book.title | uppercase }}
          </h5>
          <div>Category {{ book.category | uppercase }}</div>
          <div>Publisher {{ book.publisher | uppercase }}</div>
          <div class="fw-bold">Price {{ book.price | currency: "INR":"symbol":"1.0-0" }}</div>
          <div> Author {{ book.author | uppercase }}</div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" routerLink="/signup">
            Signup to Buy
            <i class="bi bi-bag-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
